$fa-font-path: "../webfonts";

$primary-color: hsla(240, 100%, 33%, 1.0);
$secondary-color: hsla(149, 69%, 51%, 1.0);
$tertiary-color: hsla(171, 36%, 48%, 1.0);
$quaternary-color: hsla(246, 81%, 16%, 1.0);
$quinary-color: hsla(261, 89%, 7%, 1.0);
$sextary-color: hsla(37, 80%, 49%, 1.0);

$white-color: hsla(0, 0%, 100%, 1.0);
$black-color: hsla(0, 0%, 0%, 1.0);

$body-font: 'Istok Web', serif;
$logo-font: 'Orbitron', serif;